@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&family=Ubuntu:wght@500&family=Zen+Kaku+Gothic+Antique&display=swap");
:root {
  --acc: #ff0059;
}

body {
  min-height: 1080px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 18px;
  line-height: 2em;
  margin: 0;
  padding: 0;
}
header {
  height: 30px;
  border-bottom: 2px dashed black;
}
#title{
    font-size: 20px;
    font-weight: bold;
}
#title1{
    margin-right: 0.5em;
}
#wrapper{
    display: flex;
}
#maincont{
    width: 90%;
}
#MenuBox{
    width: 10%;
}
#Menulist li{
    list-style-type: '> ';
}
#Menulist li#CurrentPage{
    list-style-type: '-> ';
    font-weight: bold;
}
#MenuBoxTitle {
font-size: 40px;
  line-height: 0.5em;
  font-family: "Red Hat Mono", monospace;
  color: var(--acc);
  text-align: center;
}
