* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Noto Sans JP",sans-serif;
    line-height: 1.6;
}

.sticky-container {
    position: sticky;
    top: 0;
    z-index: 1000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 1.1rem;
    font-weight: bold;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}
nav ul li a:hover {
    color: #fff;
    background-color: #333;
    border: 2px solid #333;
}


.logo,
.shopping-cart {
    display: flex;
    align-items: center;
}
.logo img {
    width: 50px; /* Adjust the size of the logo as needed */
    height: 50px;
}
.shopping-cart img{
    width: 30px;    /* Adjust the size of the cart image as needed */
    height: 30px;
    margin-left: 1rem;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    transition: filter 0.3s ease;
}
.shopping-cart img:hover {
    filter: brightness(85%);
}
.news_ticker {
    background-color: #ff4d4d;
    color: #fff;
    position: sticky;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 900;
}

.news_ticker-text {
    animation: marquee 10s linear infinite;
    display: inline-block;
    white-space: nowrap;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding-left: 50%;
}




@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    
    to {
        transform: translateX(-100%);
    }
}

.announcement-ticker {
    background-color: #f8f8f8;
    color: #333;
    padding: 1rem;
    font-size: 1rem;
    position: sticky;
    top: calc(3.5rem + 50px);
    top: 3.5rem;
    /* Adjust this value based on the height of the header and the first ticker */
    overflow: hidden;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 800;
    text-align: center;
    /* Center the text */
}

.announcement-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: none;
    margin-bottom: 0.5rem;
}

.announcement-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    justify-content: center;
}

.announcement-list li {
    white-space: nowrap;
    text-shadow: none;
    margin: 0 1rem;
    font-weight: 400;
    text-transform: none;
}
.announcement-list li a{
    color: #333;
    text-decoration: none;
}
.announcement-list li a:hover{
    text-decoration: underline;
}
.announcement-list li a:visited{
    color: #333;
}

.close-ticker {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.thin-ticker {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    padding: 0.25rem 1rem;
    font-size: 0.8rem;
    position: sticky;
    top: calc(3.5rem + 50px);
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 800;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    display: none;
    align-items: center;
    justify-content: center;
}
.thin-ticker:hover{
    text-decoration: underline;
    background-color: #444;
}


.announcement-text {
    white-space: nowrap;
    text-shadow: none;
    font-weight: 400;
    text-transform: none;
}


.hero {
        height: calc(100vh);
        background-image: url('../img/hero-background-image.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the last value (0.5) for the desired darkness */
    z-index: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 16px rgba(0, 0, 0, 1);
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.cta-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}
a.cta-button {
    display: inline-block;
    transition: all 0.3s ease;
}
.cta-button:hover {
    background-color: #ff6a00;        /* Change the button color on hover */
    border-width: 3px;        /* Increase the border width on hover */
    transform: scale(1.1);        /* Enlarge the button on hover */
}
.cta-button:active {
    transform: scale(0.95);    /* Reduce the button size when clicked */
    background-color: #f05800;    /* Change the button color when clicked */
}

.content-sections {
    flex-wrap: wrap;
    justify-content: space-around;
}




#history{
    width: 100%;
    background-color: #f5f5f5; /* Change to the desired background color */
}

.container {
    max-width: 1200px;    /* Adjust the container width */
    margin: 0 auto;
    padding: 2rem;    /* Adjust the container padding */
}

.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;    /* Adjust the width of the timeline line */
    background-color: #000;    /* Change to the desired line color */
}

.timeline-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    /* Adjust the space between timeline items */
    position: relative;
}

.timeline-item:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline-item:nth-child(even) img {
    transform: translateX(4px);
    /* Shift the image to the front side of the timeline line */
    z-index: 1;
    /* Increase the z-index to place the image above the line */
}

.timeline-item img {
    width: 50%;
    /* Adjust the image width */
    position: relative;
    z-index: 1;
}

.timeline-item .timeline-text {
    width: 50%;
    padding: 0 2rem;
    /* Adjust the padding around the text */
    position: relative;
    z-index: 1;
}

.timeline-item .timeline-year,
.timeline-item .timeline-age {
    position: absolute;
    font-weight: bold;
    background-color: #000;    /* Change to the desired background color */
    color: #fff;    /* Change to the desired text color */
    padding: 0.5rem;    /* Adjust the padding around the year and age */
}

.timeline-item .timeline-year {
    z-index: 2;
    top: -0.5rem;
    /* Adjust the position of the year */
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item .timeline-age {
    z-index: 1;
    font-size: 4rem;    /* Increase the font size of the age */
    color: #ddd;    /* Change to a light color */
    top: 0.5rem;    /* Adjust the position of the age */
    left: 50%;
    transform: translateX(10%);
    background-color: transparent;    /* Remove the background color */
    padding: 0;    /* Remove the padding */
}
.timeline-item:nth-child(even) .timeline-age {
    left: unset;
    right: 50%;
    transform: translateX(-10%);
}

#history h2 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 2rem;
    /* Adjust the space below the heading */
}
#history h3 {
    font-size: 2em;
    margin-bottom: 2rem;
}


.products {
    padding: 100px 0;
    padding-bottom: 200px;
    background-color: #f7f7f7;
}

.section-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
    /* Add a more artistic font */
}

.products-description{
    font-family: "Noto Serif JP", serif;
    text-align: center;
    margin-bottom: 5em;
}

.products-description p{
    margin-bottom: 2em;
    letter-spacing: 0.05em;
    line-height: 2em;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.product {
    width: 300px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* Add rounded corners */
    overflow: hidden;
    /* Ensure the image wrapper doesn't spill outside the product box */
}

.product-img-wrapper {
    position: relative;
    overflow: hidden;
    height: 155px;
}

.product-img-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
}

.product img {
    width: 100%;
    height: auto;
    object-fit: cover;

}


.product-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', "Noto Serif JP", serif;
}

.product-description {
    font-family: "Noto Serif JP", serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.product-link {
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-family: 'Arial', 'Noto Sans JP', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 24px;
    margin-top: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    transform: scale(1);
    transition: transform 0.3s;
}

.product-link:hover {
    background-color: #555;
    color: #fff;
    border-color: #005550;
    transform: scale(1.1);
}



.newsletter-salon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1c40f;
    padding:  0;
    text-align: center;
}

.newsletter-salon h2 {
    font-family: 'Arial', 'Noto Sans JP', sans-serif;
    font-size: 3em;
    line-height: 1.3em;
    font-weight: bold;
    margin-bottom: 20px;
}

.newsletter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.newsletter-image {
    flex: 1;
    max-height: 100%;
}

.newsletter-image img {
    display: block;
    max-width: 100%;
    height: 500%;
    object-fit: cover;
}

.newsletter-content-wrapper {
    flex: 2;
    padding-left: 40px;
}

.newsletter-content-wrapper h2,
.newsletter-content-wrapper p,
.newsletter-content-wrapper ul,
.newsletter-content-wrapper .newsletter-form {
    text-align: left;
}
.benefits {
    margin: 30px 0;
    text-align: left;
}


.benefits ul {
    list-style-type: disc;
    padding-left: 40px;
}

.benefits li {
    font-family: 'Arial', 'Noto Sans JP', sans-serif;
    font-size: 1.1em;
    margin-bottom: 15px;
}

/* form */
.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.newsletter-form input[type="email"] {
    font-family: 'Arial', 'Noto Sans JP', sans-serif;
    font-size: 1em;
    padding: 10px;
    border: 2px solid #d4ac0d;
    border-radius: 5px;
    outline: none;
    width: 100%;
    max-width: 300px;
}

.newsletter-form input[type="email"]:hover {
    border-color: #b7950b;
}

.newsletter-form button {
    font-family: 'Arial', 'Noto Sans JP', sans-serif;
    font-size: 1em;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #d4ac0d;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.newsletter-form button:hover {
    background-color: #d4ac0d;
    color: #000;
    border-color: #000;
}


/* NEWS */
.news-section {
    padding: 20px 0;
    font-family: 'Zen Kaku Gothic Antique';
    width: 100%;
    background: linear-gradient(to bottom, #eaeaea, #f5f5f5);
}

.news-section-container {
    width: 980px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.news-section-header {
    height: 100px;
    padding: 0 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #ccc, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ccc);
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.news-section-header h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #666;
    text-shadow: 1px 1px 2px #ccc;
}

.news-section-breadcrumbs {
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #666;
}

.news-sidebar {
    background: linear-gradient(to bottom, #e5e5e5, #f5f5f5, #f5f5f5, #f5f5f5, #f5f5f5, #f5f5f5, #e5e5e5);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    float: left;
    width: 230px;
    padding: 0 20px;
}

.news-sidebar h3 {
    background: linear-gradient(to top, #e5e5e5, 
        #f5f5f5, #f5f5f5, #e5e5e5);
    color: #333;
    text-shadow: 1px 1px 2px #ccc;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    margin: 1em 0;
}

.news-sidebar ul {
    margin: 0;
    padding: 0 10px;
    list-style: none;
    color: #333;
}

.news-sidebar li {
    margin-bottom: 0.5em;
    
}

.news-sidebar a {
    color: #000000;
    text-decoration: none;
}

.news-sidebar a:hover {
    text-decoration: underline;
    color: #666;
}

.news-main {
    margin-left: 270px;
    padding-right: 20px;
}

.news-main h3 {
    margin-bottom: 0.8em;
    padding: 5px;
    background: linear-gradient(#dddddd, #ebebeb);
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1.2em;
    color: #333;
    text-shadow: 1px 1px #ccc;
}

.news-main ul {
    margin-bottom: 1em;
}

.news-main ul li {
    line-height: 1.3em;
    margin-left: 2em;
    color: #666;
}

.news-main div {
    margin-left: 1em;
    margin-bottom: 3em;
    font-size: 0.9em;
    color: #666;
}

.news-main p {
    text-align: right;
    font-size: 0.8em;
    color: #999;
    margin: 0;
    padding-top: 20px;
    border-top: 2px solid #ccc;
}

/* Promoted article */
.promoted-article {
    margin-top: 20px;
    padding: 20px;
    background-color: #F8EFE5;
    border: 2px solid #D8C3A5;
}

.promoted-article p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.promoted-article a img{
    width: 144px;
}
.clickbait-article {
    margin-top: 20px;
    padding: 20px;
    background-color: #E7F6F7;
    border: 2px solid #A0D5D6;
}

.clickbait-article h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
.clickbait-article a img {
    width: 200px;
}

.publications {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.publication {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.publicationtitle {
    font-size: 20px;
    font-weight: bold;
}

.publicationdetails {
    font-size: 14px;
    color: #666;
}

.journal {
    font-style: italic;
}


footer {
    padding: 1rem;
    text-align: center;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    /* ... (previous CSS code) ... */

    nav ul li {
        margin-bottom: 1rem;
    }

    .content-sections {
        flex-direction: column;
    }

}

footer {
    padding: 20px;
    background-color: #222;
    color: #fff;
}
.top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.awards {
    width: 66%;
}

.corporate-collabs {
    width: 33%;
}

.bottom-row {
    width: 100%;
}

footer h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.awards li {
    width: 50%;
}

.corporate-collabs li {
    width: 100%;
}

.social-button {
    background-color: #444;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 16px;
}

.social-button:hover {
    background-color: #A0D5D6;
    color: white;
}

footer img {
    width: 80px;
}

