#wrapper{
    max-width: 1000px;
    margin: 0 auto;
    font-family: monospace;
}

body{
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(212, 208, 199);
}
#header{
    color: black;    
}

#header a{
    text-decoration: none;
    font-size: 40px;
    padding-left: 5px;
    font-weight: bolder;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    color: black;
}

#head_menu{
    overflow: hidden;
    height: 50px;
    width: auto;
}

#head_menu ul{
    width: auto;
    height: 40px;
    margin: 0px;
    padding: 0px;
}

#head_menu li{
    width: 140px; 
    height: 40px;
    line-height: 40px;
    margin-left: 2px;
    border: medium outset;
    text-align: center;
    float: left; 
    list-style: none; 
}

#head_menu li a{
    color: rgb(0, 0, 0);
    font-size: 18px; 
    font-weight: bold; 
    text-decoration: none;
    display: block;
}

#container{
    display: flex;
    border: thick ridge;
}

#main_contents{
    font-size: medium;
    width: 80%;
    min-height: 500px;
    height: auto;
    margin-left: 5px;
    padding-left: 15px;
}

#side_menu{
    width: 20%;
    min-height: 500px;
    height: auto;
    overflow-y: scroll;
    border-right: thick groove;
    background-color:  white;
}
#side_menu ul{
    margin-top: 5px;
    padding-left: 0px;

}
#side_menu li{
    list-style: url(bookicon.png) inside;
    padding-top: 1px;
    padding-left: 10px;
}
#side_menu h3{
    height: 35px;
    text-align: center;
    margin: 5px 0px 0px 0px;
    padding-top: 10px;
    background-color: rgb(0, 251, 255);
    border: thick ridge;
}

#wrapper{
    margin: 0px 0px 0px;
    height: auto;
    clear: both;
}

#footer{
    margin: 20px 0px 0px; height: 40px; text-align: right; color: dimgray; clear: both;
}