#wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

body{
    width: 980px;
    margin: 0 auto;
    background-color: rgb(39, 39, 39);
}
#header{
    color: white;    
}

#header a{
    text-decoration: none;
    font-size: 40px;
    font-weight: medium;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    color: white;
}

#head_menu{
    background-color: rgba(115, 62, 145, 0.5);
    overflow: hidden;
    height: 40px;
    width: auto;
}

#head_menu ul{
    width: auto;
    height: 40px;
    margin: 0px;
    padding: 0px;
}

#head_menu li{
    width: 140px; 
    height: 40px;
    line-height: 40px;
    margin-left: 2px;
    text-align: center;
    background-color: rgb(114, 62, 145); 
    float: left; 
    list-style: none; 
}

#head_menu li a{
    color: rgb(255, 255, 255); 
    font-size: 18px; 
    font-weight: bold; 
    text-decoration: none;
    padding: 7px;
}

#container{
    display: flex;
}

#main_contents{
    font-size: medium;
    width: 80%;
    min-height: 500px;
    height: auto;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.7);
}

#side_menu{
    background-color: rgba(255, 255, 255, 0.7);
    width: 20%;
    min-height: 500px;
    height: auto;
    padding-right: 5px;
    border-right: medium solid rgba(255, 255, 255, 0.2);
}
#side_menu ul{
    margin-top: 0px;
}
#side_menu li{
    list-style: none;
}
#side_menu h3{
    height: 35px;
    text-align: center;
    margin: 5px 0px 0px 0px;
    padding-top: 5px;
    background-color: rgb(144, 131, 157);
}

#wrapper{
    margin: 0px 0px 0px;
    height: auto;
    clear: both;
}

#footer{
    margin: 20px 0px 0px; height: 40px; text-align: right; color: dimgray; clear: both;
}