
body {
    background-color: #021941;
    color: #ffffff;
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP",
        "Avenir Next", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 0.5em;
}


h1 {
    font-size: 3.5em;
    margin-top: 1em;
    line-height: 1.2;
}

h2 {
    font-size: 2.8em;
    margin-top: 1.2em;
    line-height: 1.3;
}

h3 {
    font-size: 2.2em;
    margin-top: 1em;
    line-height: 1.3;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
}

a {
    color: #ff7a00;
    text-decoration: underline;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 2em;
}


header {
    
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

header img {
    width: 60px;
    height: 60px;
}

.hero {
    background-image: url('./img/your-image.png');
    background-size: cover;
    background-position: center;
    padding-top: 5em;
    padding-bottom: 7em;
    text-align: center;
}
.hero::before {
    content: "";
    background-image: url('./img/your-second-image.png');
    background-size: cover;
    background-position: right bottom;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero h2{
    font-size: 3em;
}

.cta-button {
    display: inline-block;
    background-color: #ff7a00;
    font-family: "Futura", "Arial Rounded MT Bold", "Helvetica Rounded", Arial,
        sans-serif;
    transition: transform 0.2s, background-color 0.2s;
    padding: 0.8em 1.5em;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    margin-top: 1em;
    cursor: pointer;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #FFA000;
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.cta-button:active {
    transform: translateY(0);
    /* Reset the button position on active state */
}

#demo-section{
    background: linear-gradient(135deg, #021941, #0d3b66);
    background-image: url('./img/your-image.png');
}

.scrollify {
    min-height: 100vh;
}

.demo-section {
    min-height: 100vh;
    text-align: center;
    margin-top: 4em;
}
.demo-section h3{
    margin-top: 0.3em;
}
.demo-section p{
    margin-bottom: 0;
    line-height: 2em;
}

.demo {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
.tooltip {
    position: absolute;
    background-color: #34495e;
    color: #ecf0f1;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    transform: translate(-50%, -120%);
    z-index: -1;
}

.brush-preview {
    position: absolute;
    border: 1px solid #000;
    border-radius: 50%;
    pointer-events: none;
}


.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
}    
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row
}    

.col-md-4,
.col-lg-6 {
    padding: 1rem 2rem;
}    

.box-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.box-shadow:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.column .col-lg-6{
    align-self: center;
}    


#tech-section {
    background: #00283c;
}

#demo-section, #vision-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tech-overview {
    padding-top: 2em;
}    
.tech-overview h2 {
    padding-top: 2em;
    margin-left: 1em;
}    
.column .col-md-4{
    padding-top: 0;
}
.column .col-md-4-right{
    width: 70%;
    align-self: flex-end;
    margin-right: 8em;
}    
.column .col-md-4-left{
    width: 70%;
    align-self: flex-start;
    margin-left: 8em;
}    
.column .col-md-4 .flexcont{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}    
.column .col-md-4-left .flexcont{
    justify-content: start;
}    
.column .col-md-4-right .flexcont{
    justify-content: end;
}    

.column .col-md-4-right h3{
    text-align: right;
    margin-top: 0;
}

.column .col-md-4 .flexcont p {
    line-height:  2.5em;
}
.column .col-md-4-left .flexcont p {
    margin-left: 2em;
}
.column .col-md-4-right .flexcont p {
    margin-right: 2em;
    text-align: right;
}

.tech-overview .column .col-md-4:last-child{
    padding-bottom: 4em;
}


.col-md-4 img{
    width: 300px;
}    




.row-vm-3{
    padding-top: 2em;
    width: 50%;
    text-align: center;
    padding-bottom: 2em;
}
.row-vm-3 p{
    line-height: 2em;
}

#vision-section {
    background-image: url('./img/your-vision-image.png');
}
.vision-mission {
    text-align: center;
    padding-top: 2em;
    height: calc(100vh - 2em);
    position: relative;
}

footer {
    font-size: 0.9em;
    margin-top: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.vision-mission img{
    margin-top: 4em;
    width: 200px;
}
.camname{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    line-height: 1.2;
    width: fit-content;
    padding: 0 1em;
    margin: 0.8em auto;
}
footer p{
    text-align: center;
    width: 100%;
}