* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: "BIZ UDP明朝", "Source Serif Pro", serif;
    background-color: #f8f8f8;
}

header {
    align-items: center;
    padding:2rem;
    background-color: #2c3e50;
    color: #ffffff;
}

.branding {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    max-height: 50px;
    max-width: 100%;
}

nav {
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    font-weight: 700;
    text-decoration: none;
    color: #333;
}
nav ul li a:hover {
    color: #4e6d8f;
    text-decoration: underline;
}

main {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

section {
    background-color: #ffffff;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-family: "BIZ UDP明朝", serif;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

section h3 {
    font-family: "BIZ UDP明朝", serif;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    margin-bottom: 0.75rem;
}

section p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.research-article {
    margin-bottom: 2rem;
}

.research-article h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.research-article h3 a {
    color: #333;
}

.research-article h3 a:hover {
    color: #4e6d8f;
    text-decoration: underline;
}

.research-article .author {
    font-size: 1.1rem;
    color: #777;
    margin-bottom: 0.5rem;
}

.research-article .description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.research-article .read-more {
    font-size: 1rem;
    font-weight: bold;
    color: #6b95c2;
}

.research-article .read-more:hover {
    text-decoration: underline;
}

.pdf-download-btn button:hover {
    background-color: #29343d;
}

a {
    color: #6b95c2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section p,
section ol li,
section ul li {
    line-height: 1.75;
}

footer {
    padding: 1rem;
    background-color: #2c3e50;
    color: #ffffff;
}